<header id="header" class="header">
  <div class="wrap" [class.fixed]="isFixed">
    <div class="container">
      <div class="header__nav-wrapper">
        <div class="header__logo">
          <a [ngx-scroll-to]="'header'">
            <img src="../../assets/images/logo/logo.svg" alt="logo">
          </a>
        </div>
        <!--            Header menu - Begin-->
        <div class="header__menu hide-on-med-and-down">
          <ul class="menu">
            <li class="menu__item">
              <a class="menu__link" [ngx-scroll-to]="'about'">About me</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" [ngx-scroll-to]="'acq'">Relationships</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" [ngx-scroll-to]="'requirements'">Requirements</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" [ngx-scroll-to]="'users'">Users</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" [ngx-scroll-to]="'sign'">Sign Up</a>
            </li>
          </ul>
        </div>
        <div class="authorization hide-on-med-and-down">
          <div>
            <span class="authorization__user-name">{{user[1]}}</span>
            <span class="authorization__user-email">{{user[2]}}</span>
          </div>
          <img class="authorization__user-img" src="{{user[6]}}" alt="photo">
          <a href="" class="authorization__sign-out">
            <img src="../../assets/images/icons/sign-out.svg" alt="sign-out">
          </a>
        </div>
        <!--            Header menu - Finish-->
        <!--            Header sidenav - Begin-->
        <ul id="slide-out" class="sidenav" #sidenav>
          <ul class="user">
            <li class="user__photo">
              <img src="{{user[6]}}" alt="user">
            </li>
            <li class="user__name">{{user[1]}}</li>
            <li class="user__email">
              <a href="mailto:work.of.{{user[2]}}">{{user[2]}}</a>
            </li>
          </ul>
            <div class="divider"></div>
          <ul class="user__menu">
            <li class="user__menu-item">
              <a class="user__menu-link" [ngx-scroll-to]="'about'">About me</a>
            </li>
            <li class="user__menu-item">
              <a class="user__menu-link" [ngx-scroll-to]="'acq'">Relationships</a>
            </li>
            <li class="user__menu-item">
              <a class="user__menu-link" [ngx-scroll-to]="'requirements'">Requirements</a>
            </li>
            <li class="user__menu-item">
              <a class="user__menu-link" [ngx-scroll-to]="'users'">Users</a>
            </li>
            <li class="user__menu-item">
              <a class="user__menu-link" [ngx-scroll-to]="'sign'">Sign Up</a>
            </li>
            <li class="user__menu-item">
              <a href="#" class="user__menu-link">Sign Out</a>
            </li>
          </ul>
        </ul>
        <!--            Header sidenav - Finish-->
        <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only">
          <img src="../../assets/images/icons/line-menu.svg" alt="menu">
        </a>
      </div>
    </div>
  </div>
  <div class="header__info">
    <div class="container">
      <div class="row">
        <div class="header__info-text col l6 s12">
          <h1 class="header__info-title">Test assignment for <br>Frontend Developer <br>position</h1>
          <p class="header__info-description">We kindly remind you that your test assignment should be submitted as a link to github/bitbucket repository. <span class="hide-on-small-and-down">Please be patient, we consider and respond to every application that meets minimum requirements. We look forward to your submission. Good luck!</span></p>
          <div class="header__wrap-btn">
            <a class="header__info-btn waves-effect waves-light btn" [ngx-scroll-to]="'sign'">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
