<footer class="footer">
  <div class="container">
    <div class="footer__nav">
        <div class="footer__logo">
          <a [ngx-scroll-to]="'header'">
            <img src="../../assets/images/logo/footer-logo.svg" alt="logo">
          </a>
        </div>
        <ul class="footer__menu">
          <li class="footer__menu-item">
            <a class="footer__menu-link" [ngx-scroll-to]="'about'">About me</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" [ngx-scroll-to]="'acq'">Relationships</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" [ngx-scroll-to]="'requirements'">Requirements</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" [ngx-scroll-to]="'users'">Users</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" [ngx-scroll-to]="'sign'">Sign Up</a>
          </li>
        </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="container">
      <div class="footer__content">
        <div class="footer__contacts col l5 m5">
          <ul class="footer__img hide-on-small-and-down">
            <li class="footer__contacts-item">
              <img src="../../assets/images/icons/mail.svg" alt="mail">
            </li>
            <li class="footer__contacts-item">
              <img src="../../assets/images/icons/phone.svg" alt="phone">
            </li>
            <li class="footer__contacts-item">
              <img src="../../assets/images/icons/cellphone.svg" alt="cellphone">
            </li>
          </ul>
          <ul>
            <li class="footer__contacts-item">
              <a href="mailto:work.of.future@gmail.com">work.of.future@gmail.com</a>
            </li>
            <li class="footer__contacts-item">+38 (050) 789 24 98</li>
            <li class="footer__contacts-item">+38 (095) 556 08 45</li>
          </ul>
        </div>
        <div class="footer__pages hide-on-small-and-down col l7 m7">
          <ul>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">News</a>
            </li>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">Blog</a>
            </li>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">Partners</a>
            </li>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">Shop</a>
            </li>
          </ul>
          <ul>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">Overview</a>
            </li>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">Design</a>
            </li>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">Code</a>
            </li>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">Collaborate</a>
            </li>
          </ul>
          <ul>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">Tutorials</a>
            </li>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">Resources</a>
            </li>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">Guides</a>
            </li>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">Examples</a>
            </li>
          </ul>
          <ul>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">FAQ</a>
            </li>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">Terms</a>
            </li>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">Conditions</a>
            </li>
            <li class="footer__pages-item">
              <a href="#" class="footer__pages-link">Help</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__social">
        <div class="footer__social-copy">© abz.agency specially for the test task</div>
        <ul>
          <li class="footer__social-item">
            <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
              <img src="../../assets/images/icons/facebook.svg" alt="facebook">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="https://www.linkedin.com/" target="_blank" class="footer__social-link">
              <img src="../../assets/images/icons/linkedin.svg" alt="linkedin">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
              <img src="../../assets/images/icons/instagram.svg" alt="instagram">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="https://twitter.com/" target="_blank" class="footer__social-link">
              <img src="../../assets/images/icons/twitter.svg" alt="twitter">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="https://www.pinterest.com/" target="_blank" class="footer__social-link">
              <img src="../../assets/images/icons/pinterest.svg" alt="pinterest">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
