<section id="about">
  <div class="wrap">
    <div class="container">
      <h2 class="title">About my relationships with <br class="hide-on-small-and-down">web-development</h2>
      <div class="row">
        <div class="info col l4 m12 s12">
          <div class="info__content">
            <div class="info__img">
              <img src="../../../assets/images/imgs/html.svg" alt="HTML5">
            </div>
            <div class="info__text">
              <h3 class="info__subtitle">I'm in love with HTML</h3>
              <p class="info__description">Hypertext Markup Language (HTML) is the <br class="hide-on-med-and-down">standard markup language for creating<br class="hide-on-med-and-down">web pages and web applications.</p>
            </div>
          </div>
        </div>
        <div class="info col l4 m12 s12 css">
          <div class="info__content">
            <div class="info__img">
              <img src="../../../assets/images/imgs/css.svg" alt="CSS3">
            </div>
              <div class="info__text">
              <h3 class="info__subtitle">CSS is my best friend</h3>
                <p class="info__description">Cascading Style Sheets (CSS) <br class="hide-on-med-and-down">is a style sheet language used for <br class="hide-on-med-and-down">describing the presentation of a <br class="hide-on-med-and-down">document written in a markup <br class="hide-on-med-and-down">language like HTML.</p>
              </div>
          </div>
        </div>
        <div class="info col l4 m12 s12 js">
          <div class="info__content mb">
            <div class="info__img">
              <img src="../../../assets/images/imgs/javascript.svg" alt="JavaScript">
            </div>
            <div class="info__text">
              <h3 class="info__subtitle">JavaScript is my passion</h3>
                <p class="info__description">JavaScript is a high-level, interpreted <br class="hide-on-med-and-down">programming language. It is a language<br class="hide-on-med-and-down">which is also characterized as dynamic, <br class="hide-on-med-and-down">weakly typed, prototype-based and <br class="hide-on-med-and-down">multi-paradigm.</p>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
</section>
