<section id="acq">
  <div class="container">
    <h2 class="title">Let's get acquainted</h2>
    <div class="row">
      <div class="img col l4 m7 s12">
        <img src="../../../assets/images/imgs/man-mobile.svg" alt="man">
      </div>
      <div class="info col l8 m5 s12">
        <h3 class="info__subtitle">I am cool frontend developer</h3>
        <p class="info__description">When real users have a slow experience on mobile, they're much less likely to find
          what they are looking for or purchase from you in the future. For many sites this equates to a huge missed
          opportunity, especially when more than half of visits are abandoned if a mobile page takes over 3 seconds to
          load. <br><br>Last week, Google Search and Ads teams announced two new speed initiatives to help improve
          user-experience on the web. </p>
        <div class="info__wrap-btn">
          <a class="info__btn" [ngx-scroll-to]="'sign'">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</section>
