@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.title {
  padding-top: 112px;
  margin-bottom: 48px;
  color: $black-color;
  text-align: center;
  @include styles-for-content-overflow;
}
.info {
  &__subtitle {
    margin-bottom: 10px;
    color: $black-color;
    @include styles-for-content-overflow;
  }
  &__description {
    margin-bottom: 16px;
    color: $desc-color;
    font-family: $second-font-family;
    font-size: 16px;
    line-height: 22px;
  }
  &__btn {
    color: $primary-color;
    font-family: $second-font-family;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
  }
}

//styles for media queries

@media #{$large-and-up} {
  .info {
    padding: 0 0 0 7px;
  }
  .img {
    padding: 0 .1rem;
    margin-top: -20px;
  }
}

@media #{$extra-large-and-up} {
  .info {
    padding: 0 0.75rem;
  }
  .img {
    padding: 0 0.75rem;
    margin-top: 0;
  }
}

@media #{$medium-and-down} {
  .info {
    &__subtitle:hover {
      white-space: normal;
    }
    &__wrap-btn {
      @include styles-for-df;
    }
  }
  .img {
    padding: 0 0.75rem;
    margin-top: 0;
  }
}

@media #{$small-and-down} {
  .title {
    padding-top: 70px;
  }
  .img {
    @include styles-for-df;
    margin-bottom: 30px;
  }
  .info {
    &__subtitle {
      text-align: center;
      white-space: normal;
    }
    &__description {
      text-align: center;
    }
  }
}

