@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.title {
  padding-top: 133px;
  margin-bottom: 20px;
  text-align: center;
  @include styles-for-content-overflow;
}
.subtitle {
  margin-bottom: 60px;
  text-align: center;
  color: $attention-color;
  font-family: $three-font-family;
}
.users {
  margin-bottom: -70px;
}
.user {
  height: 150px;
  margin-bottom: 68px;
  display: flex;
  flex-direction: row;
  &__img {
    width: 70px;
    height: 70px;
    margin-right: 8px;
    border-radius: 50%;
  }
  &__info {
    flex: 1 1 0px;
    min-width: 0;
    margin-top: 12px;
  }
  &__title {
    @include styles-for-content-overflow;
    padding: 10px 0;
    color: $black-color;
    font-family: $first-font-family;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
  }
  &__title:hover {
    white-space: initial;
  }
  &__position {
    margin-bottom: 2px;
    color: $desc-color;
    font-family: $second-font-family;
    line-height: 1.2;
    font-size: 14px;
    @include styles-for-content-overflow;
  }
  &__position:hover {
    white-space: initial;
  }
  &__email {
    margin-bottom: 2px;
    color: $desc-color;
    font-family: $second-font-family;
    line-height: 1.2;
    font-size: 14px;
    @include styles-for-content-overflow;
  }
  &__phone {
    color: $desc-color;
    font-family: $second-font-family;
    line-height: 1.2;
    font-size: 14px;
  }
  &__btn {
    height: 40px;
    padding: 0 92px;
    color: $primary-color;
    background-color: $white-color;
    border: 2px solid $primary-color;
    border-radius: 4px;
    font-family: $second-font-family;
    font-size: 20px;
    font-weight: 700;
    text-transform: none;
  }
}
.wrap-btn {
  margin-bottom: 81px;
}

//styles for media queries

@media #{$large-and-up} {
  .row .col {
    padding: 0;
  }
}
@media #{$medium-and-down} {
  .users {
    margin-bottom: -40px;
  }
  .user {
    height: 225px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__img {
      margin: 0 auto;
    }
    &__info {
      margin-top: 0;
      text-align: center;
    }
  }
}
@media #{$small-and-down} {
  .title {
    padding-top: 70px;
  }
  .subtitle {
    margin-bottom: 30px;
  }
  .users {
    margin-bottom: -10px;
  }
  .user {
    height: 200px;
    margin-bottom: 30px;
  }
  .wrap-btn {
    margin-bottom: 50px;
  }
}
